body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:869px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:896px;
}
#u124 {
  position:absolute;
  left:225px;
  top:111px;
  width:644px;
  height:896px;
}
#u125 {
  position:absolute;
  left:2px;
  top:440px;
  width:640px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u126 {
  position:absolute;
  left:369px;
  top:150px;
  width:47px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u128 {
  position:absolute;
  left:640px;
  top:150px;
  width:16px;
  height:16px;
}
#u129 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u130 {
  position:absolute;
  left:662px;
  top:150px;
  width:23px;
  height:16px;
}
#u131 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u132 {
  position:absolute;
  left:691px;
  top:151px;
  width:27px;
  height:15px;
}
#u133 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:327px;
}
#u134 {
  position:absolute;
  left:346px;
  top:350px;
  width:391px;
  height:327px;
}
#u135 {
  position:absolute;
  left:2px;
  top:156px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u138 {
  position:absolute;
  left:631px;
  top:222px;
  width:70px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u139 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u140 {
  position:absolute;
  left:666px;
  top:227px;
  width:1px;
  height:19px;
}
#u141 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u142 {
  position:absolute;
  left:639px;
  top:211px;
  width:25px;
  height:33px;
  font-size:28px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:674px;
  top:228px;
  width:44px;
  height:16px;
  font-size:20px;
}
#u145 {
  position:absolute;
  left:16px;
  top:0px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u146 {
  position:absolute;
  left:369px;
  top:228px;
  width:10px;
  height:18px;
}
#u147 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u148 {
  position:absolute;
  left:500px;
  top:796px;
  width:95px;
  height:95px;
}
#u149 {
  position:absolute;
  left:2px;
  top:40px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u150 {
  position:absolute;
  left:533px;
  top:930px;
  width:29px;
  height:16px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u152 {
  position:absolute;
  left:572px;
  top:930px;
  width:29px;
  height:16px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:31px;
}
#u154 {
  position:absolute;
  left:572px;
  top:285px;
  width:50px;
  height:30px;
}
#u155 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:37px;
}
#u156 {
  position:absolute;
  left:675px;
  top:282px;
  width:43px;
  height:37px;
}
#u157 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u158 {
  position:absolute;
  left:428px;
  top:283px;
  width:37px;
  height:36px;
}
#u159 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:369px;
  top:293px;
  width:123px;
  height:16px;
}
#u161 {
  position:absolute;
  left:16px;
  top:0px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
